.dark {
    background: dimgrey;
}

.darkText {
    color: aliceblue;
}

.red {
    background: lightcoral;
}

.redText {
    color: aqua;
}

.some {
    background: lightgreen;
}

.someText {
    color: darkslateblue;
}

.title{
    padding: 10px;
}
