.radio {
    appearance: none;
    width: 15px;
    height: 15px;


    cursor: pointer;
    border-radius: 50%;
    outline: none;
    background-color: lightskyblue;
}


.radio:hover {
    border: 2px solid mediumpurple;
}

.radio:checked {
    background-color: pink;
}

.radio:focus {
    border: 2px solid mediumpurple;
}

.label{
    cursor: pointer;
}

