
.container{
    margin-left: 100px;
}



.inputClass{
    border: 1px solid red;
}

.error {
    border: 1px solid red;
    color: red;
}

.errorMessage {
    color: red;
}

.default {
    margin: 5px;
    border: 1px solid gray;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.default:hover {
    background-color: #4CAF50; /* Green */
    color: white;
}

.disabled{
    margin: 5px;
    border: 1px solid gray;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}



